.group {
  width: 100%;
  height: 100%;
  border: 1px dashed rgba(97, 71, 0, 0.4);
  background: rgba(97, 71, 0, 0.01);
  border-radius: 12px;
  position: relative;
  pointer-events: none;
}

.label {
  position: absolute;
  top: 8px;
  left: 12px;
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  color: #1890ff;
  pointer-events: none;
  text-transform: uppercase;
}
